* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
}
body {
	user-select: none;
	background-image: url(../img/background.png);
    width: 100%;
    height: 100vh;
	margin: 0;
    overflow-x: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}
.main {
	width:55em;
	height: fit-content;
	margin-top: 100px	;
	margin: 20px 10px;
	border-radius: 10px;
	text-align: center;
	font-family: Round;
	padding-bottom: 5px;
	.title {
		width: 100%;
		font-family: 'Inter', sans-serif;
		text-align: center;
		margin-bottom: 10px;
		font-weight: 800;
		color:white;
		text-shadow: 1px 1px 4px #FE4C66;
		font-size: 35px;
		margin-top: 3em;
	}
	.header {
		width: 90%;
		margin: 0 auto;
		height: 11em;
		background-color: #ffffffa8;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 1px 1px 15px #FE4C66 ;
		.avatar {
			width: 120px;
			margin-left: 30px;
			margin-right: 20px;
			overflow: hidden;
		}
		.profile {
			.name {
				font-size: 35px;
				font-family: 'Inter', sans-serif;
				color: #fe4a65;
			}
			.connect {
				display: flex;
				flex-direction: row;
				margin-top: 25px;
				margin-left: -20px;
				.social {
					background: #E5E5E5;
					width: 50px;
					height: 50px;
					display: flex;
					border-radius: 50%;
					justify-content: center;
					align-items: center;
					border: none;
					margin-left: 20px;
				}
				.social:hover {
					background-color:#d4d4d4;
				}
			}

		}
		.line {
			width:7em;
			height: 0px;
			background:#FE4C66 ;
			border: 0.1px solid #FE4C66;
			transform: rotate(90deg);
			margin-left: auto;
		}
		.more {
			margin-right:40px ;
			font-size: 15px;
			font-family: 'Fira Code', monospace;
			color:#f23551;
			.button {
				display: flex;
				flex-direction: row;
				margin: 0 auto;
				margin-left: -15px;
				.follow_chat {
					font-family: 'Inter', sans-serif;
					width: 80px;
					padding: 10px 20px;
					text-align: center;
					margin-left: 15px;
					margin-top: 20px;
					border: none;
					font-size: 14px;
					font-weight:200;
					border-radius: 5px;
					background: #E5E5E5;
					color:#FE4C66;
				}
				.follow_chat:hover {
					background: #fe4a65;;
					color: white;
				}

			}
		}
	}
	.body {
		margin: 20px auto;
		width: 90%;
		height: auto;
		background-color:#ffffffa8;
		border-radius: 15px;	
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 25px 0px;
		box-shadow: 1px 1px 15px #FE4C66 ;
		.text {
			text-align:center ;
			margin-bottom: 10px;
			margin-top: -10px;
			font-size: 20px;
			font-family: 'Inter', sans-serif;
			color:#FE4C66;
		}
		.grid {
			width: 90%;
			display: grid;
			grid-template-columns:33.33333% 33.33333% 33.33333%;
			align-items: center;
			gap:25px 10px;
			margin: 0 auto;
			.image {
				.picture {
					width:220px;
					border-radius: 10px;
				}
			}
		}
	}
}
.img {
	width: 35px;
}
@media screen and (max-width:750px) {
	.main {
		.title {
			margin-top: 1em;
			font-size: calc(1em + 5vw);
			margin-bottom: 1em;
		}
		.header {
			flex-direction: column;
			height: auto;
			padding-bottom: 20px;
			.avatar {
				margin-top: 15px;
				margin-left: 20px;
				width: 30vw;
			}
			.profile {
				.name {
					font-size: 10vw ;
				}
				.connect {
					margin-left: -8vw;
					.social {
						margin-left: 8vw;
						height: 15vw;
						width: 15vw;
					}
				}
			}
			.line {
				visibility: hidden;
			}
			.more {
				width: 75%;
				margin: 10px auto;
				.button {
					width: 65%;
					justify-content: center;
					flex-direction: column;
					.follow_chat {
						width: 150%;
						font-size: 5vw;
						border-radius: 55px;
						margin-top: 3vw;
					}
				}
				.birthday {
					visibility: hidden;
					position: absolute;
				}
				.hobbies {
					visibility: hidden;
					position: absolute;
				}
			}
		}
		.body {
			.text {
				font-size: calc(0.8em + 2.5vw);
			}
			.grid {
				grid-template-columns: 100%;
				.image {
					.picture {
						width:90%;
					}
				}
			}
		}
	}
	.img {
		width:12vw;
	}
	
}